#divBoard
{
  width: 692px;
  height: 692px;
  margin: auto;
  border: 1px black solid;
  margin-top: 100px;
  box-shadow: 
    0 0 0 3px rgb(0, 0, 0), 
    0 0 0 10px rgb(120, 120, 120), 
    0 0 0 20px rgb(0, 0, 0);
}
#container
{
  display: flex;
  margin: 25px;
  margin-left: 32%;
}
#resetBtn
{
  width: 100px;
  height: 40px;
  margin-left: 120px;
  font-size: x-large;
  border-radius: 30px;
  background: linear-gradient(90deg, #ffbf00,#c9ee51);
}
#timer
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 25px;
  margin-left: 120px;
  font-size: x-large;
  border: 2px black solid;
  border-radius: 40px;
  background: linear-gradient(90deg, #ffbf00,#c9ee51);
}
#counter
{
  width: 170px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  border: 2px black solid;
  border-radius: 40px;
  background: linear-gradient(90deg, #ffbf00,#c9ee51);
}
body
{
  background-image: url(/images/purim_BackGround.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.cell
{
  width: 171px;
  height: 171px;
  border: 1px black solid;
  float: left;
  background-color: rgb(94, 239, 239);
}
.cards
{
  width: 170px;
  height: 170px;
}